<div class="row">

  <div class="row" id="working-menu">
    <div class="col-md-8">
        <h5 class="mat-h1">Tasks Section</h5>
    </div>
    <div class="col-md-4">
        <div style="text-align: right">
          <button id="btn-work" class="btn btn-warning" (click)="isLoadingFunc()"><i class="fa fa-plus"></i> Create
          New</button>
          <button id="btn-work" class="btn btn-success" (click)="viewClickedFunc()"><i class="fa fa-clone"></i> View
            All</button>
        </div>
    </div> 
    
  </div>

  <div class="col-md-10" id="form-menu">


      <div *ngIf="clickType == 'create'">
          <nb-card>

              <nb-card-header>{{formHeadline}}</nb-card-header>

              <nb-card-body>

                  <form (ngSubmit)="submitTaskType(f)" #f="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" nbInput fullWidth placeholder="Task Name" name="taskName" [(ngModel)]="task.title" #taskname="ngModel" required>
                            <span class="badge badge-danger formInput" *ngIf="!taskname.valid && taskname.touched">Please enter
                              a task name.</span>
                        </div>
                        <div class="col-md-4" id="div_form">
                            <nb-select *ngIf="formHeadline == 'Create New Task'" selected="task.taskTypeId" style="width:80%" [(ngModel)]="task.taskTypeId" name="task_type" required #task_type="ngModel" placeholder="Choose Task Type">
                              
                                <nb-option *ngFor="let taskType of taskTypeList" [(value)]="taskType.id">{{taskType.name}}</nb-option>

                            </nb-select>

                            <input *ngIf="formHeadline=='Edit Task'" type="text" nbInput readonly [(value)]="task.taskTypeName">

                            <!-- <span class="badge badge-danger formInput" *ngIf="task.taskTypeId==null ">Please choose
                              a task type.</span> -->
                              
                        </div>
                        <div class="col-md-3">
                          
                         <!--    <nb-select selected="0" style="width:80%"  [(ngModel)] = "task.assignedType" name="assigned_type" required #assigneType="ngModel" placeholder="Choose a assigne type">
                               
                               <nb-option value="solo">Solo</nb-option>
                               <nb-option value="team">Team</nb-option>
                            </nb-select>

                            <span class="badge badge-danger formInput" *ngIf="assigneType.touched && !assigneType.valid">Please choose
                              a assigne type.</span> -->
                              <nb-radio-group  name="assignType"  [(ngModel)]="task.assignedType" [(value)]="task.assignedType" style="width:25%">
                                <nb-radio
                                [value]="'solo'" (click)="radioChangeAssign('solo')">
                                Solo
                              </nb-radio>
                             <nb-radio
                                [value]="'team'" (click)="radioChangeAssign('team')"  #teamRadio>
                                Team
                              </nb-radio>
                              
                              </nb-radio-group>
                              <!-- <label><input type="radio" change="radioChangeAssign($event)">Team</label> -->
                              
                        </div>
                        <div class="col-md-5" id="div_form">
                            <input *ngIf="task.assignedType=='solo'" type="text" nbInput fullWidth placeholder="Assign User" [(ngModel)] = "task.assignedUserName" (keyup)="getUserListView($event)" name="assignUserName"  (change)="getChoosenUserId($event)" list="userList">
                            <input type="hidden" name="assignedUser" [(ngModel)]="task.assignedUser">    
                                <datalist id="userList">
                                    <!-- <option *ngFor="let user of userList" [attr.data-value]="user.id" (change)="getChoosenUserId(user.id)">{{user.userName}}</option> -->
                                    <option  *ngFor="let user of userViewList" [attr.data-value]="user.id" >{{user.userName}}</option>

                                </datalist>
                            <input *ngIf="task.assignedType!='solo'" nbInput fullWidth type="text" #team  placeholder="Assign Dept" [(ngModel)] = "task.assignedDeptName" name="assignedDepartmentName" list="deptLists" (change)="getChoosenDept($event)">
                            <input type="hidden" name="assignedDept" [(ngModel)]="task.assignedDept">
                            <datalist id='deptLists'>
                              <option *ngFor="let dept of deptList"  [attr.data-value]="dept.id">{{dept.name}}</option>

                            </datalist>
                        </div>
                        <div class="col-md-4" id="div_form">
                            <!-- <input type="datetime-local" placeholder="Start Date" [(ngModel)] = "task.startDate" name="start_date"> -->
                            <input nbInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" fullWidth  placeholder="Pick Start DateTime" [(ngModel)] = "task.startDate" name="start_date" autocomplete="off" >
                            <owl-date-time #dt1></owl-date-time>
                        </div>
                        <div class="col-md-3" style="margin-top:1.5%">
                          <mat-checkbox [ngModel]="task.repeat" name="task-repeat" (change)="isRepeat()">Task Repeatable</mat-checkbox>
                        </div>
                        <div class="col-md-5" id="div_form">
                            <!-- <input nbInput type="datetime-local" placeholder="End Date" [(ngModel)] = "task.endDate" name="end_date"> -->
                            <input nbInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [min]="todayDate" fullWidth  placeholder="Pick End DateTime" [(ngModel)] = "task.endDate" name="end_date" autocomplete="off">
                            <owl-date-time #dt2></owl-date-time>
                        </div>
                        <div class="col-md-12" id="div_form">

                            <textarea class="formInput" rows="5" nbInput fullWidth shape="round" placeholder="Task Description"
                             name="description" [(ngModel)] = "task.description"></textarea>

                        </div>
                        <hr>
                        <div class="col-md-12">
                            <button type="submit" style="width:155px;margin:3px" class="btn btn-danger"
                              [disabled]="!f.valid || f.submitted">Save</button>
                            <button style="width:155px;margin:3px" class="btn btn-secondary" [disabled]="!f.valid || f.submitted">Reset</button>
                        </div>
                    </div>
                    
                      

                      
                     
                      

                  </form>

              </nb-card-body>

          </nb-card>

      </div>


    <div *ngIf="clickType == 'view'">
      

          <nb-card-header>All Task Lists</nb-card-header>
     
          <mat-form-field *ngIf=" tasksViewList !=null" style="margin-left:70%">
              <input type="text" placeholder="search" matInput (keyup)="filterValue($event.target.value)">
          </mat-form-field>
     
      

    

      <nb-card-body>
          
        <div class="mat-elevation-z8">

          <table mat-table [dataSource] = "dataSource" class="table table-striped table-hover" >

            <ng-container matColumnDef="taskId">
              <th mat-header-cell *matHeaderCellDef>SL#</th>
              <td mat-cell *matCellDef = "let element; let sl=index;">{{sl+1}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef = "let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef = "let element">{{element.description}}</td>
            </ng-container>
            <ng-container matColumnDef="assignedUser">
                <th mat-header-cell *matHeaderCellDef>Assigned User</th>
                <td mat-cell *matCellDef = "let element">{{element.assignedUser}}</td>
              </ng-container>
            <ng-container matColumnDef="assignedDept">
                  <th mat-header-cell *matHeaderCellDef>Assigned Dept.</th>
                  <td mat-cell *matCellDef = "let element">{{element.assignedDept}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Task Status</th>
                    <td mat-cell *matCellDef = "let element">{{element.status}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef = "let element; let i=index;"><span id="viewDetails">
                                                                      <span id="tooltiptext">Details</span>
                                                                     <i (click)="viewTaskDetails(element.taskId)" class="fa fa-eye"  style="cursor:pointer;color:green;padding-right:8px"></i>
                                                                    </span>
                                                                    <span id="viewEdit">
                                                                        <i (click)="editTask(element.taskId)" class="fa fa-edit" style="cursor:pointer;color:rgba(255, 140, 0, 0.815)"></i>
                                                                        <span id="tooltipedittext">Edit</span>
                                                                      </span>
                                                                     
                                                                     </td>
                                                                     
              <!-- <td mat-cell *matCellDef = "let element; let j=index;"><i style="background-color:green" (click)="viewTaskDetails(element.taskId)" class="fa fa-edit" style="cursor:pointer"></i></td> -->
            </ng-container>
            
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns">
              
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator [pageSizeOptions] = "[5,10,20]" showFirstLastButtons></mat-paginator>

        </div>

      </nb-card-body>

      <div *ngIf=" tasksViewList ==null || tasksViewList.length<=0" class="badge badge-warning" #noTask id="noTask">There is no task found or created yet.</div>

    </div>



    <div *ngIf="clickType == 'view-task-details'">

      <nb-card-header style="color:royalblue">Task Details</nb-card-header>
      <hr>
      <div class="row">
          <div class="col-md-9">
              <nb-list>
                  <nb-list-item>
                    Task Name:{{task.title}}
                    
                  </nb-list-item>
                  <nb-list-item>Task Type:{{task.taskTypeName}}</nb-list-item>
                  
              </nb-list>
          </div>
          <div class="col-md-3">
              <nb-card-header>Assigne</nb-card-header>
              <nb-list>
                  <nb-list-item>
                      <nb-user [name]="task.assignedUser"></nb-user>
                  </nb-list-item>
              </nb-list>
          </div>
      </div>


      


    </div>

  </div>

  <!-- showing save success message -->
<div *ngIf=saveStatus  id="submitStatusMsg" style="background-color: seagreen" role="alert">
    
  You have succesfully {{add_editMsg}} Task Type- .
</div>
<div *ngIf="!saveStatus && formSubmit" id="submitStatusMsg" style="background-color: rgb(206, 73, 73)">
    
  Your Task have not been saved.
</div> 
<div *ngIf="!validationStatus" id="submitStatusMsg" style="background-color: rgb(179, 130, 97)">
    
  Invalid/Incomplete Input.
</div>


<div *ngIf="isloading" style="background-color: lightgrey;position:absolute;opacity: 0.5;width:86vw;height:60vh"><div class="lds-facebook"><div></div><div></div><div></div><div></div></div>
<div><label style="font-family: 'Times New Roman', Times, serif;font-size: 12px;position:absolute;margin-top: -220px;margin-left:32%">Landing to your Task Creation ....</label></div>
</div>

</div>